#vs code settings stuff
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Rope project settings
.ropeproject

#avoid uploading a heap of csv files
Mineral_tables/*.csv
Nutrition_tables/*.csv
Vitamin_tables/*.csv
Clinical_indications_tables/*.csv
